@import "tailwindcss";

.header-image {
  background-image: url("/images/navbar-img.png");
  background-size: 100rem;
}

.footer-image {
  background-image: url("/images/footer-bg.png");
  background-size: 100rem;
}

.footer-bg-article {
  background-image: url("/images/article-image.jpg");
  background-size: 100rem;
}

.plant-header {
  background-image: url("/images/plant-header.png");
  background-size: 100rem;
}

.article-header {
  background-image: url("/images/article-bg.png");
  background-size: 100rem;
}

.login-image {
  background-image: url("/images/login-image.png");
  background-size: cover;
  background-position: center;
}
